<div id="header">

	<% logo= image_tag("logo.png", :alt => "Blog", :class => "logo") %>
	<%= link_to logo, posts_path %>
	<h1>Academicamente Geniais</h1>

	<%= image_tag("rss.png", :alt => "Rss", :class => "rss_img") %>
	<div id="rss">
        	<a href="/posts">Subscreve por RSS</a>

        </div>

</div>

	
