  <div id="sidebar">
        
        	<div id="newsletter">
            	<h2>Newsletter</h2>
                <input class="inputText" id="event_name" name="event[name]" placeholder="Introduz o teu email..." size="30" type="text">

                <a class="g-button">Ok</a> 
            </div>
            
            <div id="perfil">
            	<h2>Perfil</h2>
				<%= image_tag("Cristina.jpg") %>           
                <p>Sabias que enquanto dormes estás a aprender? Sim, é verdade. Mas isso não significa que se passares os dias a dormir vais dominar a matéria para o teu próximo exame.</p>
            </div>
            

			<div id="arquivo">
				<h2>Arquivo</h2>

                <ul>
				<% @post_months.sort.reverse.each do |month, posts| %>
				<li><%=link_to month.strftime("%B"), archive_path(month.strftime("%B")) %></li>
                    
				<!--<ul>
					<% for post in posts %>
					<li><%=h link_to post.title, post_path(post) %></li>
					<% end %>
				</ul>-->
                </ul>
				<% end %>
			</div>			
            
        
	    </div> <!-- end sidebar --> 
